*{
    font-family: 'Times New Roman', Times, serif;
}
/* nav bar */
.nav_logo{
    width: 100px;
    
}

.reviews{
    height: 500px;
}

.features{
    height: 800px;
}

.main_class{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed !important; 
}
.intro{
    
    
    
    width: 90%;
    height: fit-content;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 70px;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    padding-top: 60px;
    margin-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1px;
    border-radius: 20px;
    box-shadow: 0 10px 20px black;    
    
    
    
}

.heading_box{

    width: 100%;
    height: fit-content;
    width: fit-content;
    margin-bottom: 0px !important;
    color: white;
    padding-left: 40px;

}
.intro_heading{
    
    word-spacing: 8px;
    letter-spacing: 4px;
    font-size: 50px;
    
    
}

.info_section{
    display: flex;
    margin-bottom: 60px;
}

.button_box{
    width: 40%;
}
.start_today_button{
    border-radius: 50px;
    font-size: 30px;
    width: 200px;
    margin-top: 100px !important;
    margin-left: 40% !important;
    
}

.info_image_box{
    width: 50%;
}
.info_image{
    
    margin-top: 20px !important;         
    margin-left: 200px !important;
    padding-right: 0px !important;
}

.add_delete_image, .login_img{
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 10px 20px black;
    margin-bottom: 80px;
}

.reminder_img{
    width: 360px;
    border-radius: 10px;
    box-shadow: 0 10px 20px black;
    margin-bottom: 80px;
}

.features{
    margin-bottom: 60px;
}

  

/* testimonial taken from  testmonials taken from https://www.sliderrevolution.com/resources/bootstrap-testimonial-slider/ */

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
      color: #2196F3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}
/* testimonial end */